{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="col-md-12 my-3" style="margin-bottom: 250px !important">
    <div class="row" style="align-content: center;">
        <div class="col-md-12">
            <a class="btn btn-primary float-left mb-3" href="{% url 'add_face' %}" style="white-space: nowrap;">Add face</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="data_table_" class="table table-hover text-center" style="">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Id</th>
                    </tr>
                </thead>
                <tbody>
                    {% for faces in face %}
                    <tr>
                        <td>{{ faces.name }}</td>
                        <td>{{ faces.user_id }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts%}
<script type="text/javascript">
$(document).ready(function() {
    $('#data_table_').DataTable();
} );
</script>
{% endblock javascripts%}